@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@900&family=Source+Code+Pro:wght@700&display=swap');


body{
    overflow: hidden;
}

/*-----------------IMAGENES------------------*/

.regla{
    position:absolute; 
    z-index:-1; 
    margin-top: -250px; 
    margin-left: -310px;
}

.apple{
    position:absolute; 
    z-index:-1; 
    margin-top: 400px; 
    margin-left: -120px;
}

.notebok{
    position:absolute; 
    z-index:-1; 
    margin-top: 80px; 
    margin-left: 1000px;
}

.pencil{
    position:absolute; 
    z-index:-1; 
    margin-top: -180px; 
    margin-left: 950px;
}

/*---------------------Pantalla------------------*/
/*Contenedor*/
.container{
    font-family: 'Saira Condensed', sans-serif;
    color: white;
    font-size: 25px;
    margin-top: 10%;
    background-color: rgb(49, 45, 45);
    height: 180px;
    width: 420px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border: rgb(97, 85, 85) 6px solid;
    -webkit-box-shadow: 12px 23px 28px -4px rgba(0,0,0,1);
    -moz-box-shadow: 12px 23px 28px -4px rgba(0,0,0,1);
    box-shadow: 12px 23px 28px -4px rgba(0,0,0,1);
    
}

/*PANTALLA CELESET*/
.pantalla{
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(214, 233, 240);
    margin-top: -12px;
    width: 350px;
    height: 80px;
    font-size: 50px;
    text-align: right;
    border-radius: 10px;
    outline: none;
}

/*DANIEL GALLINA*/
.text{
    margin-top: 15px;
    margin-right: 160px;
    display: inline-block;
}

/*V1.0*/
.txt{
    display: inline-block;
    margin-top: 15px;
}



/*-----------------TECLADO--------------------*/
.keys{
    background-color: rgb(180, 180, 180);
    height: 355px;
    width: 420px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border: rgb(97, 85, 85) 6px solid;
    text-align: right;
    position: relative;
    -webkit-box-shadow: 13px 9px 28px -4px rgba(0,0,0,1);
    -moz-box-shadow: 13px 9px 28px -4px rgba(0,0,0,1);
    box-shadow: 13px 9px 28px -4px rgba(0,0,0,1);
}

.btn1{
    font-size: 20px;
    margin-top: 10px;
    margin-right: 9px;
    cursor: pointer;
    border-radius: 6px;
    width: 70px;
    color: white;
    background-color:rgb(97, 85, 85);
    outline: none;
}

.btn2{
    font-size: 20px;
    margin-top: 10px;
    margin-right: 9px;
    cursor: pointer;
    border-radius: 6px;
    width: 70px;
    height: 50px;
    color: white;
    background-color:rgb(97, 85, 85);
    outline: none;
}

.btn2_Black{
    font-size: 20px;
    margin-top: 10px;
    margin-right: 9px;
    cursor: pointer;
    border-radius: 6px;
    width: 70px;
    height: 50px;
    color: white;
    background-color:rgb(7, 5, 19);
    outline: none;
}

.btn2_Orange{
    font-size: 20px;
    margin-top: 10px;
    margin-right: 9px;
    cursor: pointer;
    border-radius: 6px;
    width: 70px;
    height: 50px;
    color: white;
    background-color:rgb(216, 120, 64);
    outline: none;
}

.btn2_Suma{
    font-size: 20px;
    margin-top: 10px;
    right: 9px;
    cursor: pointer;
    border-radius: 6px;
    width: 70px;
    height: 110px;
    color: white;
    background-color:rgb(97, 85, 85);
    position: absolute;
    outline: none;
}

.btn2_space{
    font-size: 20px;
    margin-top: 10px;
    margin-right: 90px;
    cursor: pointer;
    border-radius: 6px;
    width: 70px;
    height: 50px;
    color: white;
    background-color:rgb(97, 85, 85);
    outline: none;
}

.btn2_Black_1{
    font-size: 20px;
    margin-right: 90px;
    cursor: pointer;
    border-radius: 6px;
    width: 70px;
    height: 50px;
    color: white;
    background-color:rgb(7, 5, 19);
    outline: none;
}

.btn1:active, .btn2:active, .btn2_space:active, .btn2_Suma:active{
    background-color: rgb(133, 125, 125);
}

.btn2_Black:active, .btn2_Black_1:active{
    background-color:rgb(51, 51, 51);
}

.btn2_Orange:active{
    background-color:rgb(230, 150, 104);
}